#welcome-section {
  min-height: 566px;
  z-index: 30;

  .plan-image {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  .bee-slot {
    position: absolute;
    right: 0;
    top: 0;
  }

  .logo {
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 30;
  }

  .contacts {
    position: absolute;
    right: 0;
    top: 50px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;

    a, p {
      color: #fff;
      font-size: 14px;
      font-family: "OpenSans";
      line-height: 1.2;
    }

    .vk {
      margin-right: 10px;
    }

    .inst {
      margin-right: 25px;
    }

    .city {
      margin-top: 10px;
    }

    .tel-wrapper {
      transform: translateY(10px);
    }
  }

  @media(max-width: 992px) {
    .bee-slot {
      width: 30%;
    }
  }
  @media(max-width: 700px) {
    min-height: 331px;
  }
  @media(max-width: 575px) {
    min-height: 250px;
    position: relative;
    .logo {
      top: 24px;
      width: 100px;
      height: 100px;

      img {
        max-width: 100%;
      }
    }
    .contacts {
      position: absolute;
      right: 0;
      top: 24px;
      display: flex;
      justify-content: flex-start;
      align-content: flex-start;

      a, p {

        font-size: 12px;

      }

      .vk {
        margin-right: 10px;
      }

      .inst {
        margin-right: 20px;
      }

      .city {
        margin-top: 5px;
      }

      .tel-wrapper {
        transform: translateY(10px);
      }
    }
    .plan-image {
      height: 100%;
    }
  }
}

#big-slot {
  z-index: 20;
  position: absolute;
  top: 126px;
  left: 0;

  .text {
    width: 500px;
    position: absolute;
    top: 271px;
    left: 0;

    h1 {
      margin-bottom: 75px;
      font-size: 28.596px;
      font-family: "Copperplate";
      color: rgb(199, 174, 109);
      line-height: 0.786;
    }

    h2 {
      margin-bottom: 25px;
      font-size: 24px;
      font-family: "Copperplate";
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      line-height: 0.75;
    }

    p {
      font-size: 14px;
      font-family: "OpenSans";
      color: rgb(255, 255, 255);
      line-height: 1.2;
    }
  }

  @media(max-width: 700px) {
    background: rgba(0, 0, 0, .7);
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    top: unset;
    left: unset;
    img {
      display: none;
    }
    .text {
      position: relative;
      top: unset;
      left: unset;
      width: 100%;
    }
  }
  @media(max-width: 370px) {
    .text {
      h1 {
        font-size: 24px;
      }

      h2 {
        font-size: 20px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}

#net-section {
  position: relative;
  height: 1250px;

  .texture {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
  }

  .build-image {
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 30;
  }

  @media(max-width: 992px) {
    height: unset;
  }
}

#work-types {
  position: relative;
  padding-top: 530px;
  z-index: 30;

  .icons-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .icon-box {
    width: calc(100% / 4);
    text-align: center;
    margin-bottom: 90px;

    &__title {
      font-size: 22.477px;
      font-family: 'Copperplate';
      color: rgb(255, 255, 255);
      line-height: 0.8;
      font-weight: normal;
      height: 70px;
    }

    &__image {
      max-width: 100%;
    }

    &.reverse {
      display: flex;
      flex-wrap: wrap-reverse;
      flex-direction: column;

      .icon-box__title {
        margin-top: 25px;
        order: 2;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

  }

  @media(max-width: 992px) {
    padding-top: 530px;
    .icons-row {
      justify-content: center;
    }
    .icon-box {
      width: calc(100% / 3);
      margin-bottom: 30px;

      &__title {
        height: unset;
        padding-bottom: 30px;
      }

      &.reverse {
        display: unset;

        .icon-box__title {
          margin-top: 0;
          display: block;
        }
      }
    }
  }
  @media(max-width: 700px) {
    padding-top: 50px;
    .icon-box {
      width: 48%;
    }
  }
  @media(max-width: 450px) {
    .icon-box {
      &__title {
        font-size: 14px;
      }

      &__image {
        img {
          width: 100px;
        }
      }
    }
  }
}

#work-types-info {
  position: relative;
  min-height: 1200px;
  background: #000;
  padding-top: 115px;

  .draw-image {
    position: absolute;
    left: 0;
    top: -794px;
    width: 100%;

  }

  .info-box-grid {
    width: 100%;

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .grid-sizer,
  .grid-item {
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }

  .info-box {
    padding: 23px 22px 40px 30px;
    background-color: rgba(83, 83, 83, 0.502);
    align-self: flex-start;
    width: 100%;

    &__title {
      font-size: 24px;
      font-family: "Copperplate";
      color: rgb(181, 159, 103);
      text-transform: uppercase;
      line-height: 1;
    }

    &__desc {
      margin-top: 24px;
      font-size: 14px;
      font-family: "OpenSans";
      color: rgb(255, 255, 255);
      line-height: 1.2;
    }
  }

  @media(max-width: 576px) {
    height: 100%;
    .grid-sizer,
    .grid-item {
      width: 100%;
      margin-bottom: 30px;
    }
    .draw-image {
      display: none;

    }
  }
}

#map {
  position: relative;
  z-index: 300;
  transform: translateY(4px);
}

.callback {
  padding-top: 60px;
  position: relative;
  background: #000;
  height: 480px;

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
  }

  &__title {
    z-index: 10;
    position: relative;
    font-size: 24px;
    color: rgb(199, 174, 109);
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 35px;
  }

  .logo {
    z-index: 30;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

#callback-form {
  position: relative;
  z-index: 30;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 35px;
  padding-top: 15px;
  background-color: rgba(0, 0, 2, 0.439);
  width: 661px;
  height: 219px;

  input {
    width: 100%;
    height: 35px;
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-family: "OpenSans";
    color: #fff;
    line-height: 1.2;

    &::placeholder {
      color: rgb(120, 120, 120);
    }
  }

  button {
    font-size: 18px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    width: 237px;
    height: 37px;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    cursor: pointer;
    background: transparent;
  }

  .name {
    margin-bottom: 30px;
  }

  .button-wrapper {
    margin-top: 30px;
  }

  @media(max-width: 684px) {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}